.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* color: white */
}
.App-dogs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



