.DogDetails-card {
    box-shadow: 0px 19px 38px rgba(0,0,0, .3), 0px 15px 12px rgba(0,0,0, .1);
}

.DogDetails-card img{

    filter: grayscale();
    
    transition: all .4s ease;
}

.DogDetails-card:hover img {
    filter: none;
}